/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.module-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.module-content > * {
    align-self: flex-start;
}